@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Library.Models.ViewModels.BookViewModel>

@{
    ViewBag.Title = "All Books";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row mb-3">
    <div class="col col-6">
        <div class="input-group">
            <input type="text" id="searchInput" class="form-control" placeholder="Search">
            <button class="btn btn-primary" onclick="searchBooks()">Search</button>
            <button class="btn btn-secondary" onclick="clearSearch()">Clear</button>
        </div>
    </div>
</div>

<div class="text-center row">
    @foreach (var book in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem; max-height: 288px;"
                 src="@book.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@book.Title</h5>
                <p class="mb-0">Author: @book.Author</p>
                <p class="mb-0">Rating: @book.Rating</p>
                <p>Category: @book.Category</p>
            </div>

            <form class="input-group-sm" asp-controller="Book" asp-action="AddToCollection" asp-route-id="@book.Id">
                <input type="submit" value="Add to Collection" class="fs-6 btn btn-success w-50 mb-3 p-2 " />
                <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary w-50 mb-2 ">Edit</a>
            </form>
        </div>
    }
</div>

@section Scripts {
    <script>
        function searchBooks() {
            var searchValue = document.getElementById("searchInput").value;
            window.location.href = "/Book/Search?query=" + encodeURIComponent(searchValue);
        }

        function clearSearch() {
            document.getElementById("searchInput").value = "";
            window.location.href = "/Book/All";
        }
    </script>
}