@model IEnumerable<Library.Models.ViewModels.BookViewModel>

@{
    ViewBag.Title = "My Books";
}

<h2 class="text-center">@ViewBag.Title</h2>

<hr />

<div class="text-center row">
    <div class="col-12 mb-3 row justify-content-end">
        <div class="col-3">
            <div class="input-group">
                <label for="sortDropdown" class="input-group-text">Sort By:</label>
                <select id="sortDropdown" class="form-select" onchange=" this.options[this.selectedIndex].value && (window.location=this.options[this.selectedIndex].value);">
                    <option value="">-- Select --</option>
                    <option value="@Url.Action("SortMineByTitleAscending", "Book")">Name &#x2191; A-Z</option>
                    <option value="@Url.Action("SortMineByTitleDescending", "Book")">Name &#x2193; Z-A</option>
                    <option value="@Url.Action("SortMineByCategory", "Book")">Category</option>
                    <option value="@Url.Action("SortMineByRatingAscending", "Book")">Rating &#x2191; Asc</option>
                    <option value="@Url.Action("SortMineByRatingDescending", "Book")">Rating &#x2193; Desc</option>
                </select>
            </div>
        </div>
    </div>

    @foreach (var book in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem; max-height: 288px;"
                 src="@book.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@book.Title</h5>
                <p class="mb-0">Author: @book.Author</p>
                <p class="mb-0">Description: @book.Description</p>
                <p>Category: @book.Category</p>
            </div>

            <form class="input-group-sm" asp-controller="Book" asp-action="RemoveFromCollection" asp-route-id="@book.Id">
                <input type="submit" value="Remove from Collection" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
    }
</div>